!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title An Attempt
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/style.css" }
  %body{"ng-app" => "imageViewer"}
    %div{"ng-controller" => "FetchCtrl"}
      %section{:id => "fetch"}
        %div
          %span {{provider}}/
          %input#section{"flexible" => "", :name => "section", "ng-model" => "area", :placeholder => "Enter area here", :type => "text"}/
          %button{"ng-click" => "fetch(provider, area)"} GO
      %section{:id => "the-fun"}
        %img{"ng-src" => "{{currentImage['image_url']}}", :alt => "{{currentImage['title']}}"}
  %script{:src => "javascripts/lib/angular.min.js"}
  %script{:src => "javascripts/services.js"}
  %script{:src => "javascripts/controllers.js"}
  %script{:src => "javascripts/main.js"}
