!!!
%html{:lang => "en", "ng-app" => "imageViewer"}
  %head
    %meta{:charset => "UTF-8"}/
    %title An Attempt
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/style.css" }
  %body{"ng-controller" => "FetchCtrl", "ui-keyup" => "{'left': 'previous()', 'right': 'next()'}"}
    %div
      %section{:id => "fetch"}
        %div
          %span {{provider}}/
          %input#section{"flexible" => "", :name => "section", "ng-model" => "area", :placeholder => "Enter area here", :type => "text"}/
          %button{"ng-click" => "fetch(provider, area)"} GO
          %img{"loader" => "", "ng-src" => "images/loader.gif"}
      %section{:id => "the-fun"}
        %img{"loadable" => "", "ng-src" => "{{currentImage['image_url']}}", :alt => "{{currentImage['title']}}"}
  %script{:src => "javascripts/lib/jquery-2.0.3.min.js"}
  %script{:src => "javascripts/lib/angular.min.js"}
  %script{:src => "javascripts/lib/ui-utils.min.js"}
  %script{:src => "javascripts/services.js"}
  %script{:src => "javascripts/controllers.js"}
  %script{:src => "javascripts/main.js"}
