!!!
%html{:lang => "en", "ng-app" => "imageViewer"}
  %head
    %meta{:charset => "UTF-8"}/
    %title An Attempt
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/foundation.css" }
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/normalize.css" }
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/app.css" }
    %script{:src => "javascripts/foundation/vendor/custom.modernizr.js"}
  %body{"ng-controller" => "FetchCtrl", "ui-keyup" => "{'left': 'previous()', 'right': 'next()'}"}
    %div{:id => "wrap"}
      %div{:id => "main"}
        %nav{:class => "top-bar"}
          %section{:class => "top-bar-section"}
            %ul{:class => "left"}
              %li{:class => "has-form"}
                %div{:class => "row collapse"}
                  %h4{:class => "small-4 columns inline text-right"} {{provider}} /
                  %div{:class => "small-7 columns"}
                    %input{:name => "section", "ng-model" => "area", :placeholder => "Enter area here", :type => "text"}
                  %div{:class => "small-1 columns"}
                    %button{"ng-click" => "fetch(provider, area)", :class => "small button secondary"} Go
            %ul{:class => "right"}
              %li
                %img{"loader" => "", "ng-src" => "images/loader.gif"}
        %section{:class => "row"}
          %div{:class => "large-12 columns"}
            %img{"loadable" => "", "ng-src" => "{{currentImage['image_url']}}", :alt => "{{currentImage['title']}}"}
    %div{:id => "footer"}
      %div{:class => "row"}
        %span{:class => "small-12 columns text-center"} {{currentImage['title']}}
  %script{:src => "javascripts/lib/jquery-2.0.3.min.js"}
  %script{:src => "javascripts/lib/angular.min.js"}
  %script{:src => "javascripts/lib/ui-utils.min.js"}
  %script{:src => "javascripts/services.js"}
  %script{:src => "javascripts/controllers.js"}
  %script{:src => "javascripts/main.js"}
