%script{ :type => "text/javascript", :src => "javascripts/lib/jquery-1.7.2.js" }
%script{ :type => "text/javascript", :src => "javascripts/viewer.js" }
%script{ :type => "text/javascript", :src => "javascripts/loader.js" }
%script{ :type => "text/javascript", :src => "javascripts/main.js" }

%title "Fun" Images
#content
