body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

section#fetch {
  letter-spacing: 2px;
  color: #fff;
  padding: 10px;
}

section#fetch input {
  color: #fff;
  background-color: #000;
  border: 0px;
  border-bottom: 1px solid #333;
  font-size: 20px;
  padding: 3px;
}

section#fetch button {
  font-size: 16px;
  border: 0;
  padding: 5px 22px;
  color: #fff;
  background-color: #333;
}

section#fetch button:hover { background-color: #666; }
section#fetch button:active { background-color: #ccc; }

section#fetch img {
  width: 58px;
  height: 15px;
}

section#the-fun img {
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
